html, body{
    overflow-x: hidden;
}

body{
    background-color: #1b2838;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{
    color: white;
    font-weight: lighter;
}

h2{
    color: white;
    font-weight: lighter;
}

h3{
    color: white;
    font-weight: lighter;
}

h4{
    color: white;
    font-weight: lighter;
}

.navbar{
    background-color: rgb(39, 39, 39);
    padding: 1em;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar a{
    color: rgb(226, 226, 226);
    text-align: center;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
}

.v-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.slide-show-game{
    min-height: 100% !important;
    height: 100%;
}

.slideShowImage{
    width: 100%;
    min-height: auto;
    height: 100vh;
}

.comingSoonText{
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

a{
    text-decoration: none;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}
.border-black{
    border: 1px solid #000;
}

.card{
    width: 320px;
    text-align: center;
    padding: 6px;
    margin-bottom: 20px;
}

.card img{
    width: 320px;
}

div .card-title{
    font-size: 24px;
    font-weight: bold;
}

div .card-description{
    text-align: center;
}

.game-list{
    display: grid;
    grid-template-columns: auto;
}

.game-card{
    width: 90%;
    border: 1px solid #000;
    padding: 12px 14px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.game-image{
    width: 6cm;
    height: 6cm;
    display: block;
    float: left;
    margin-top: 2cm;
}

.game-card > h1{
    margin-left: 6.5cm;
}

.game-card > p{
    margin-left: 6.5cm;
    color: wheat;
}

.game-card > .price{
    margin-left: 6.5cm;
}

h1 .game-card-title{
    margin-left: 12px;
}

.pagination {
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
}

.pagination > div > a{
    padding: 12px 16px;
    margin: 12px;
    text-decoration: none;
    color: beige;
}

.pagination > div.active >a {
    background-color: rgb(0, 22, 56);
    color: white;
    border-radius: 100%;
}

.pagination > div > a:hover{
    color: white;
    background-color: blue;
    border-radius: 100%;
}

.btn {
    padding: 10px 10px;
}

.btn{
    text-align: center;
    text-decoration: none;
    color: wheat;
    width: 30%;
    height: 30%;
}

.btn-primary{
    background-color: blue;
    border-radius: 3%;
}

.btn-primary:hover{
    background-color: rgb(42, 0, 61);
}

.grid-col-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.footer{
    text-align: center;
    padding: 20px 24px;
    background-color: #000;
    color: wheat;
    width: 100%;
    height: 100%;
}

a.active{
    color: rgb(118, 118, 255);
    border-color: white;
}

.w-full{
    width: 100%;
}

input{
    padding-top: 5px;
    padding-bottom: 7px;
}

.form-container{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 16px;
}

.form-group{
    width: 100%;
    margin-bottom: 24px;
}

.select-group{
    display: flex;
    margin-bottom: 24px;
}

.select{
    width: 35%;
    padding: 5px 7px;
    margin-right: 12px
}

.two-group{
    display: flex;
    margin-bottom: 24px;
}

.full-name{
    width: 50%;
    margin-right: 12px;
}